{% extends "base.html" %}
{% block title %}Log Workouts{% endblock %}
{% block content %}
<form action="{{ url_for('log_workout') }}" method="post">
    <div>
        <label for="exercise_name">Exercise name:</label>
        <input type="text" id="exercise_name" name="exercise_name" required>
    </div>

    <div>
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="weight" step="0.5" required>
    </div>

    <div>
        <label for="sets">Sets:</label>
        <input type="number" id="sets" name="sets" required>
    </div>

    <div>
        <label for="reps">Reps:</label>
        <input type="number" id="reps" name="reps" required>
    </div>

    <div>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
    </div>

    <button type="submit">Submit</button>
</form>
<p>{{message}}</p>
{% endblock %}