{% extends "base.html" %}
{% block title %}{{ exercise_name.capitalize() }} Progress{% endblock %}
{% block content %}

<h2> {{ exercise_name.capitalize() }} Progress</h2>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart" style="max-height: 500px;"></canvas>
<script>
    const ctx = document.getElementById("myChart");
    new Chart(ctx, {
        type: "line",
        data: {
            labels: {{ dates | tojson }},
            datasets: [{
                label: "{{ exercise_name }}",
                data: {{ weights | tojson }},
            }]
        }
    });
</script>

<div class="alert alert-info">
    {% if predicted_weight %}
        <p>Predicted next session: {{ predicted_weight | round(1) }} kg</p>
    {% else %}
        <p>Log a few more entries to see a prediction.</p>
    {% endif %}
</div>


{% endblock %}