{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<form action="{{ url_for('register') }}" method="post">
    <div>
        <label for="username">Create username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <br>

    <div>
        <label for="password">Create password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<p>{{message}}</p>
{% endblock %}